* {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Quicksand', sans-serif;
}

/* --- HEADER --- */

h1.logo{
  font-size: 1.3em;
}

h1.logo a{
    text-decoration: none;
    color: #BE6E85;
}

header .headerWrapper {
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.logoNdHamburger {
  padding: 10px;
  width: 100vw;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

@media (max-width : 850px){
  header .headerWrapper {
    flex-flow: column nowrap;
  }
}

.material-icons {
  display: none;
}

@media (max-width : 850px) {
  .material-icons {
    display: flex;
    font-size: 36px;
    cursor: pointer;
  }
}

nav ul {
  width: 40vw;
  
  margin: 0;
  padding: 0px;
  
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}

nav ul li {
  flex-basis: 33.33%;
  text-align: center;
}

nav ul li a{
  width: 100%;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #3A3849;
}

nav ul li a:hover {
  color: #BE6E85;
}

.open {
  display: none;
}
@media (max-width : 850px) {
  nav ul{
    width: 100vw;
    flex-flow: column nowrap;
    overflow: hidden;
    padding: 5px;
  }
  
   ul li a {
     width: 100%;
  }
}

/* --- HEADER ENDS HERE  --- */

/* MAIN */

.mainHeadline {
  height: 50vh;
  padding: 25px;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  font-weight: lighter;
  color: #74718E;
}

@media (max-width : 850px) {
  .mainHeadline {
    font-size: 2.5em;
  }
}

.projects {
  width: 100vw;
  
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4px;
}

@media (max-width : 850px){
  .projects {
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: 1fr;
    padding: 4px;
  }
}

.projectThumbnail {
  display: inline-block;
  position: relative;
  overflow: hidden;
  
  transition: all .2s ease-in-out;
}

.projectThumbnail:hover .projectDesc {
  bottom: 45%;
  opacity: 1;
}

.projectThumbnail:hover .thumbnailImage {
  opacity: .3;
}

.thumbnailImage {
  width: 100%;
  height: auto;
  
  transition: all .5s ease-in-out;
}

.thumbnailImage img {
  width: 100%;
  height: auto;
}

.projectDesc {
  text-align: center;
  
  position: absolute;
  bottom: 150px;
  left: 30%;
  
  opacity: 0;
  color: #3A3849;
  
  transition: bottom .5s ease-in-out, opacity .5s ease-in-out;
}

.projectTitle {
  font-family: 'Playfair Display', serif;
  font-size: 2em;
}

.projectSubtitle {
  text-transform: uppercase;
  font-weight: lighter;
}

@media (max-width : 450px) {
  .projectDesc {
    bottom: 75px;
    left: 15%;
  }
  
  .projectThumbnail:hover .projectDesc {
    bottom: 100px;
  }
}

/* Footer HomePage */

.footerHome {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dolce & Gabbana Project */

.projectHeader {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  
  margin: 50px;
  width: 40%;
  height: 150px;
  
  color: #4D4B60;
}

@media (max-width : 850px) {
  .projectHeader {
    width: 80%;
    height: 175px;
    margin: 25px;
  }
}

.stylishLine {
  width: 75px;
  height: 2px;
  background-color: #4D4B60;
}

/* GRID */

.grid {
  margin: 50px;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.grid > div {
  width: 100%;
  border: 1px solid #3bc9db;
  background-color: #99e9f2;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid > div:nth-child(1) {
  background-image: url(images/dolceGabbana/Mask%20Group%201.png);
  background-position: center top;
  grid-row: 1 / 4;
  grid-column: 1;
}

.grid > div:nth-child(2) {
  grid-row: 1 / 3;
  grid-column: 2;
}

.grid > div:nth-child(3) {
  grid-row: 1 / 4;
  grid-column: 3;
}

.grid > div:nth-child(4) {
  grid-row: 4 / 7;
  grid-column: 1;
}

.grid > div:nth-child(5) {
  grid-row: 3 / 7;
  grid-column: 2;
}

.grid > div:nth-child(6) {
   grid-row: 4 / 6;
  grid-column: 3;
}


