* {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Quicksand', sans-serif;
}

/* --- HEADER --- */

h1.logo{
  margin-left: 40px;
  font-size: 1.3em;
  
}

h1.logo a{
    text-decoration: none;
    color: #BE6E85;
}

header .headerWrapper {
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.logoNdHamburger {
  padding: 10px;
  width: 100vw;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

@media (max-width : 850px){
  header .headerWrapper {
    flex-flow: column nowrap;
  }
}

.material-icons {
  display: none;
}

@media (max-width : 850px) {
  .material-icons {
    display: flex;
    font-size: 36px;
    cursor: pointer;
  }
}

nav ul {
  width: 40vw;
  
  margin: 0;
  padding: 0px;
  
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}

nav ul li {
  flex-basis: 33.33%;
  text-align: center;
}

nav ul li a{
  width: 100%;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #3A3849;
}

nav ul li a:hover {
  color: #BE6E85;
}

.open {
  display: none;
}
@media (max-width : 850px) {
  nav ul{
    width: 100vw;
    flex-flow: column nowrap;
    overflow: hidden;
    padding: 5px;
  }
  
   ul li a {
     width: 100%;
  }
}

/* --- HEADER ENDS HERE  --- */

/* MAIN */

.mainHeadline {
  height: 50vh;
  padding: 25px;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  font-weight: lighter;
  color: #74718E;
}

@media (max-width : 850px) {
  .mainHeadline {
    font-size: 2.5em;
  }
}

.projects {
  width: 100vw;
  
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4px;
}

@media (max-width : 850px){
  .projects {
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: 1fr;
    padding: 4px;
  }
}

.projectThumbnail {
  display: inline-block;
  position: relative;
  overflow: hidden;
  
  transition: all .2s ease-in-out;
}

.projectThumbnail:hover .projectDesc {
  bottom: 45%;
  opacity: 1;
}

.projectThumbnail:hover .thumbnailImage {
  opacity: .3;
}

.thumbnailImage {
  width: 100%;
  height: auto;
  
  transition: all .5s ease-in-out;
}

.thumbnailImage img {
  width: 100%;
  height: auto;
}

.projectDesc {
  text-align: center;
  
  position: absolute;
  bottom: 150px;
  left: 30%;
  
  opacity: 0;
  color: #3A3849;
  
  transition: bottom .5s ease-in-out, opacity .5s ease-in-out;
}

.projectTitle {
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  color: #4D4B60;
}

.projectSubtitle {
  text-transform: uppercase;
  font-weight: lighter;
  color: #4D4B60;
}

@media (max-width : 450px) {
  .projectDesc {
    bottom: 75px;
    left: 15%;
  }
  
  .projectThumbnail:hover .projectDesc {
    bottom: 100px;
  }
}

/* Footer HomePage */

.footerHome {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dolce & Gabbana Project */

.projectHeader {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  
  margin: 50px;
  width: 40%;
  height: 150px;
  
  color: #4D4B60;
}

@media (max-width : 850px) {
  .projectHeader {
    width: 80%;
    height: 175px;
    margin: 25px;
  }
}

.stylishLine {
  width: 75px;
  height: 2px;
  background-color: #4D4B60;
}

/* GRID DOLCE */

.gridDolce {
  margin: 50px;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.gridDolce > div {
  width: 100%;
  background-color: #99e9f2;
  color: #fff;
}

.gridDolce > div:nth-child(1) {
  background-image: url(images/dolceGabbana/dolce&gabbana2.jpg);
  background-size: cover;
  background-position: center top;
  grid-row: 1 / 4;
  grid-column: 1;
}

.gridDolce > div:nth-child(2) {
  background-image: url(images/dolceGabbana/dolce&gabbana3.png);
  background-size: cover;
  background-position: center top;
  grid-row: 1 / 3;
  grid-column: 2;
}

.gridDolce > div:nth-child(3) {
  background-image: url(images/dolceGabbana/dolce&gabbana4.png);
  background-size: contain;
  background-position: center;
  grid-row: 1 / 4;
  grid-column: 3;
}

.gridDolce > div:nth-child(4) {
  background-image: url(images/dolceGabbana/dolce&gabbana6.png);
  background-size: cover;
  background-position: center top;
  grid-row: 4 / 7;
  grid-column: 1;
}

.gridDolce > div:nth-child(5) {
  background-image: url(images/dolceGabbana/dolce&gabbana5.jpg);
  background-size: cover;
  background-position: center top;
  grid-row: 3 / 7;
  grid-column: 2;
}

.gridDolce > div:nth-child(6) {
  background-image: url(images/dolceGabbana/dolce&gabbana1.jpg);
  background-size: cover;
  background-position: center;
  grid-row: 4 / 7;
  grid-column: 3;
}

@media (max-width : 850px ){
  .gridDolce {
    margin: 25px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 400px);
  }
  
  .gridDolce > div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .gridDolce > div:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .gridDolce > div:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .gridDolce > div:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  .gridDolce > div:nth-child(5) {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }
  .gridDolce > div:nth-child(6) {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }
}

.cta {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #BE6E85;
  
  padding: 15px 25px;
  background-color: #BE6E85;
  color: white;
  
  transition: all .2s ease-in-out;
}

.cta:hover {
  border: 1px solid #BE6E85;
  background-color: white;
  color: #BE6E85;
}

.cta-container {
  width: 100%;
  height: 75px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  overflow: hidden;
}

/* GRID MIU MIU */

.gridMiu {
  margin: 50px;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.gridMiu > div {
  width: 100%;
  background-color: #99e9f2;
  color: #fff;
}

.gridMiu > div:nth-child(1) {
  background-image: url(images/miumiu/miumiu_1.png);
  background-size: cover;
  background-position: center top;
  grid-row: 1 / 4;
  grid-column: 1;
}

.gridMiu > div:nth-child(2) {
  background-image: url(images/miumiu/miumiu_2.png);
  background-size: cover;
  background-position: center top;
  grid-row: 1 / 3;
  grid-column: 2;
}

.gridMiu > div:nth-child(3) {
  background-image: url(images/miumiu/miumiu_3.png);
  background-size: cover;
  background-position: center;
  grid-row: 1 / 4;
  grid-column: 3;
}

.gridMiu > div:nth-child(4) {
  background-image: url(images/miumiu/miumiu_4.png);
  background-size: cover;
  background-position: center top;
  grid-row: 4 / 7;
  grid-column: 1;
}

.gridMiu > div:nth-child(5) {
  background-image: url(images/miumiu/miumiu_5.png);
  background-size: cover;
  background-position: center top;
  grid-row: 3 / 7;
  grid-column: 2;
}

.gridMiu > div:nth-child(6) {
  background-image: url(images/miumiu/miumiu_6.png);
  background-size: cover;
  background-position: center;
  grid-row: 4 / 7;
  grid-column: 3;
}

@media (max-width : 850px ){
  .gridMiu {
    margin: 25px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 400px);
  }
  
  .gridMiu > div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .gridMiu > div:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .gridMiu > div:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .gridMiu > div:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  .gridMiu > div:nth-child(5) {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }
  .gridMiu > div:nth-child(6) {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }
}

/* GRID FERRAGAMO */

.gridFerragamo {
  margin: 50px;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.gridFerragamo > div {
  width: 100%;
  background-color: #99e9f2;
  color: #fff;
}

.gridFerragamo > div:nth-child(1) {
  background-image: url(images/ferragamo/ferragamo_2.png);
  background-size: cover;
  background-position: center top;
  grid-row: 1 / 4;
  grid-column: 1;
}

.gridFerragamo > div:nth-child(2) {
  background-image: url(images/ferragamo/ferragamo_1.jpg);
  background-size: cover;
  background-position: center top;
  grid-row: 1 / 3;
  grid-column: 2;
}

.gridFerragamo > div:nth-child(3) {
  background-image: url(images/ferragamo/ferragamo_3.png);
  background-size: cover;
  background-position: center top;
  grid-row: 1 / 4;
  grid-column: 3;
}

.gridFerragamo > div:nth-child(4) {
  background-image: url(images/ferragamo/ferragamo_4.jpg);
  background-size: cover;
  background-position: center top;
  grid-row: 4 / 7;
  grid-column: 1;
}

.gridFerragamo > div:nth-child(5) {
  background-image: url(images/ferragamo/ferragamo_6.jpg);
  background-size: cover;
  background-position: center top;
  grid-row: 3 / 7;
  grid-column: 2;
}

.gridFerragamo > div:nth-child(6) {
  background-image: url(images/ferragamo/ferragamo_5.png);
  background-size: cover;
  background-position: center;
  grid-row: 4 / 7;
  grid-column: 3;
}

@media (max-width : 850px ){
  .gridFerragamo {
    margin: 25px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 400px);
  }
  
  .gridFerragamo > div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .gridFerragamo > div:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .gridFerragamo > div:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .gridFerragamo > div:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  .gridFerragamo > div:nth-child(5) {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }
  .gridFerragamo > div:nth-child(6) {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }
}

/* GRID LANVIN */

.gridLanvin {
  margin: 50px;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.gridLanvin > div {
  width: 100%;
  background-color: #99e9f2;
  color: #fff;
}

.gridLanvin > div:nth-child(1) {
  background-image: url(images/lanvin/lanvin_6.jpg);
  background-size: cover;
  background-position: center top;
  grid-row: 1 / 4;
  grid-column: 1;
}

.gridLanvin > div:nth-child(2) {
  background-image: url(images/lanvin/lanvin_2.jpg);
  background-size: cover;
  background-position: center top;
  grid-row: 1 / 3;
  grid-column: 2;
}

.gridLanvin > div:nth-child(3) {
  background-image: url(images/lanvin/lanvin_3.jpg);
  background-size: cover;
  background-position: center;
  grid-row: 1 / 4;
  grid-column: 3;
}

.gridLanvin > div:nth-child(4) {
  background-image: url(images/lanvin/lanvin_4.jpg);
  background-size: cover;
  background-position: center top;
  grid-row: 4 / 7;
  grid-column: 1;
}

.gridLanvin > div:nth-child(5) {
  background-image: url(images/lanvin/lanvin_5.jpg);
  background-size: cover;
  background-position: center top;
  grid-row: 3 / 7;
  grid-column: 2;
}

.gridLanvin > div:nth-child(6) {
  background-image: url(images/lanvin/lanvin_1.jpg);
  background-size: cover;
  background-position: center;
  grid-row: 4 / 7;
  grid-column: 3;
}

@media (max-width : 850px ){
  .gridLanvin {
    margin: 25px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 400px);
  }
  
  .gridLanvin > div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .gridLanvin > div:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .gridLanvin > div:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .gridLanvin > div:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  .gridLanvin > div:nth-child(5) {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }
  .gridLanvin > div:nth-child(6) {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }
}

/* About me  */

.aboutMe {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.aboutMe-image {
  padding: 50px;
  max-width: 100%;
  height: auto;
}

.aboutMe-image img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.aboutMe-desc {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutMe-wrapper > p {
  padding: 25px 0px;
  line-height: 1.7em;
}


@media (max-width : 1050px) {
  .aboutMe {
    grid-template-columns: 1fr;
    padding: 25px;
  }
  
  .aboutMe-desc {
    align-items: flex-start;
  }
  
  .aboutMe-image {
    padding: 0px;
    margin-bottom: 25px;
  }
  
  .aboutMe-desc {
    padding: 10px;
  }
}

/* Contact page */

.contacts {
  margin: 50px auto;
  width: 60vw;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.3fr 1.3fr;
  grid-gap: 10px;
}

.iconLinks {
  width: 200px;
  height: 200px;
}

.contacts-details {
  border: 1px solid #BE6E85;
  padding: 25px;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  
  text-decoration: none;
  color: #BE6E85;
  
  transition: all .2s ease-in-out;
}

.contacts-details:hover {
  box-shadow: 0 0 20px rgba(0,0,0,.3);
}

.contact--paragraph {
  padding: 15px;
  font-size: 1.2em;
  text-align: center;
}

@media (max-width: 870px) {
  .contacts {
    width: 80vw;
  }
}

@media (max-width: 600px) {
  .contacts {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    width: 90vw;
  }
}
